:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-powderblue: #BFDCE8;
  --main-blue: #90CAF9;
  --main-black: #212121;
  --main-grey: #9E9E9E;
  --light-grey: #FAFAFA;
  --main-skyblue: #89BFE5;
  --main-nightblue: #2A344B;
}

body {
  margin: 0;
  color: var(--main-black);
}

input, textarea, button, select {
  font-family: inherit;
}

h1, h2 {
  margin: 0;
  padding: 0;
}
