.heroSection {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 426px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  box-shadow: 0 5px 10px 0 var(--black-shadow);
}

@media (width <= 600px) {
  .heroSection {
    height: 667px;
  }
}
